// -----------------------------------------------------------------------------
// This file contains all styles related to the Hero slider of the site/application.
// -----------------------------------------------------------------------------

.slider-area {
	min-height: calc(100vh - 90px - 1.5rem);
    border-radius: 20px;

    @include media-breakpoint-down(lg) {
    	min-height: calc(100vh - 95px - 1rem);
    }

    @include media-breakpoint-down(md) {
    	min-height: unset;
    }
}
.hero-slide {    
    display: flex;
    align-items: center;
    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	min-height: calc(100vh - 90px - 1.5rem);
	background: #fef5f4;
    border-radius: 20px;

    .container {
    	z-index: 1;
    }

    @include media-breakpoint-down(lg) {
    	min-height: calc(100vh - 95px - 1rem);
    }

    @include media-breakpoint-down(md) {
    	min-height: unset;
    	padding: 25px 10px;
    }

    &__title {
	    @include responsive-font-size(60px);
	    letter-spacing: 1px;
	    color: $text-color;
	    margin-bottom: 1rem;

	    @include media-breakpoint-down(lg) {
	    	@include responsive-font-size(54px);
	    }

	    @include media-breakpoint-down(xs) {
			@include responsive-font-size(30px);
		}
	}

	&__subtitle {
	    @include responsive-font-size(52px);
	    font-weight: 900;
	    margin-bottom: 20px;
	    color: $text-color;

	    @include media-breakpoint-down(lg) {
	    	@include responsive-font-size(44px);	    	
	    }

	    @include media-breakpoint-down(xs) {
			@include responsive-font-size(22px);
		}
	}

	&__content {
		line-height: 1.9;
		color: #666;
	    position: relative;
	    z-index: 11;
	    padding-right: 50px;

	    @include media-breakpoint-down(md) {
	    	padding-right: 0;
	    }
	}

	&__action {
	    padding: 0.7rem 3rem;
	    margin-top: 0.8rem;

	    @include media-breakpoint-down(md) {
		    padding: 0.6rem 2.2rem;
	    	margin-top: 0.4rem;
	    }

	}

	&__shape {
	    clip-path: circle(50% at 0% 50%);
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    background: #f9c12f;
	    z-index: 0;
	    border-radius: 20px 0 0 20px;
	    background-blend-mode: multiply;
	    transform: rotate(
			180deg
		);

		@include media-breakpoint-down(md) {
			clip-path: circle(35% at 0% 55%);
		}
	}
}

.owl-carousel .owl-nav button.owl-prev, 
.owl-carousel .owl-nav button.owl-next {
    background: transparent !important;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    mix-blend-mode: multiply;
}

.owl-theme .owl-nav [class*='owl-'] svg {
    fill: rgba(0, 0, 0, .71);
    width: 20px;
    height: auto;
}

.owl-carousel .owl-nav button.owl-next {
    right: 15px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 15px;
}

.owl-item.active .animation__style01 .hero-slide__content h2 {
    -webkit-animation: 800ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 800ms ease-in-out 0s normal none 1 running zoomInUp;
}

.owl-item.active .animation__style01 .hero-slide__content h3,
.owl-item.active .animation__style01 .hero-slide__content ul {
    -webkit-animation: 800ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 800ms ease-in-out 0s normal none 1 running zoomInUp;
}

.owl-item.active .animation__style01 .hero-slide__content h1 {
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 1000ms ease-in-out 0s normal none 1 running zoomInUp;
}

.owl-item.active .animation__style01 .hero-slide__content p {
    -webkit-animation: 1200ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 1200ms ease-in-out 0s normal none 1 running zoomInUp;
}

.owl-item.active .animation__style01 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp;
}

.owl-item.active .animation__style02 .hero-slide__content h2 {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style02 .hero-slide__content h1 {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInRight;
}

.owl-item.active .animation__style02 .hero-slide__content p {
    -webkit-animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
    animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
}

.owl-item.active .animation__style02 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
    animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
}

.owl-item.active .animation__style03 .hero-slide__content h1 {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style03 .hero-slide__content p {
    -webkit-animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
    animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
}

.owl-item.active .animation__style03 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
    animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
}

.owl-item.active .animation__style04 .hero-slide__content h2 {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style04 .hero-slide__content h3,
.owl-item.active .animation__style04 .hero-slide__content ul {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style04 .hero-slide__content h1 {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInRight;
}

.owl-item.active .animation__style04 .hero-slide__content p {
    -webkit-animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
    animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
}

.owl-item.active .animation__style04 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
    animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
}

.owl-item.active .animation__style04 .hero-slide__content .sale {
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
    animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
}

.owl-item.active .animation__style05 .hero-slide__content h2 {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style05 .hero-slide__content h1 {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInRight;
}

.owl-item.active .animation__style05 .hero-slide__content p {
    -webkit-animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
    animation: 2200ms ease-in-out 0s normal none 1 running bounceInDown;
}

.owl-item.active .animation__style05 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
    animation: 1800ms ease-in-out 0s normal none 1 running bounceInDown;
}

.owl-item.active .animation__style06 .hero-slide__content h2 {
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style06 .hero-slide__content h1 {
    -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 700ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style06 .hero-slide__content p {
    -webkit-animation: 900ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 900ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style06 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 1000ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style06 .hero-slide__content span {
    -webkit-animation: 1200ms ease-in-out 0s normal none 1 running fadeInLeft;
    animation: 1200ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.owl-item.active .animation__style07 .hero-slide__content h2 {
    -webkit-animation: 900ms ease-in-out 0s normal none 1 running flipInX;
    animation: 900ms ease-in-out 0s normal none 1 running flipInX;
}

.owl-item.active .animation__style07 .hero-slide__content h1 {
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running flipInX;
    animation: 1000ms ease-in-out 0s normal none 1 running flipInX;
}

.owl-item.active .animation__style07 .hero-slide__content p {
    -webkit-animation: 1200ms ease-in-out 0s normal none 1 running flipInX;
    animation: 1200ms ease-in-out 0s normal none 1 running flipInX;
}

.owl-item.active .animation__style07 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running flipInX;
    animation: 1500ms ease-in-out 0s normal none 1 running flipInX;
}

.owl-item.active .animation__style07 .hero-slide__content span {
    -webkit-animation: 1900ms ease-in-out 0s normal none 1 running flipInX;
    animation: 1900ms ease-in-out 0s normal none 1 running flipInX;
}

.owl-item.active .animation__style08 .hero-slide__content h2 {
    -webkit-animation: 900ms ease-in-out 0s normal none 1 running slideInDown;
    animation: 900ms ease-in-out 0s normal none 1 running slideInDown;
}

.owl-item.active .animation__style08 .hero-slide__content h1 {
    -webkit-animation: 1200ms ease-in-out 0s normal none 1 running slideInDown;
    animation: 1200ms ease-in-out 0s normal none 1 running slideInDown;
}

.owl-item.active .animation__style08 .hero-slide__content p {
    -webkit-animation: 1300ms ease-in-out 0s normal none 1 running slideInDown;
    animation: 1300ms ease-in-out 0s normal none 1 running slideInDown;
}

.owl-item.active .animation__style08 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running slideInDown;
    animation: 1500ms ease-in-out 0s normal none 1 running slideInDown;
}

.owl-item.active .animation__style08 .hero-slide__content span {
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running slideInDown;
    animation: 1400ms ease-in-out 0s normal none 1 running slideInDown;
}

.owl-item.active .animation__style09 .hero-slide__content h2 {
    -webkit-animation: 900ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 900ms ease-in-out 0s normal none 1 running fadeInRight;
}

.owl-item.active .animation__style09 .hero-slide__content h1 {
    -webkit-animation: 1200ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 1200ms ease-in-out 0s normal none 1 running fadeInRight;
}

.owl-item.active .animation__style09 .hero-slide__content p {
    -webkit-animation: 1300ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 1300ms ease-in-out 0s normal none 1 running fadeInRight;
}

.owl-item.active .animation__style09 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1500ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInRight;
}

.owl-item.active .animation__style09 .hero-slide__content span {
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 1400ms ease-in-out 0s normal none 1 running fadeInRight;
}

.owl-item.active .animation__style10 .hero-slide__content h2 {
    -webkit-animation: 1200ms ease-in-out 0s normal none 1 running zoomInDown;
    animation: 1200ms ease-in-out 0s normal none 1 running zoomInDown;
}

.owl-item.active .animation__style10 .hero-slide__content h3,
.owl-item.active .animation__style10 .hero-slide__content ul {
    -webkit-animation: 800ms ease-in-out 0s normal none 1 running zoomInDown;
    animation: 800ms ease-in-out 0s normal none 1 running zoomInDown;
}

.owl-item.active .animation__style10 .hero-slide__content h1 {
    -webkit-animation: 1000ms ease-in-out 0s normal none 1 running zoomInDown;
    animation: 1000ms ease-in-out 0s normal none 1 running zoomInDown;
}

.owl-item.active .animation__style10 .hero-slide__content p {
    -webkit-animation: 1200ms ease-in-out 0s normal none 1 running zoomInRight;
    animation: 1200ms ease-in-out 0s normal none 1 running zoomInRight;
}

.owl-item.active .animation__style10 .hero-slide__content .hero-slide__action {
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp;
}

.owl-item.active .animation__style10 .hero-slide__media {
    -webkit-animation: 800ms ease-in-out 0s normal none 1 running fadeInRight;
    animation: 800ms ease-in-out 0s normal none 1 running fadeInRight;
}