<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="../dist/css/main.css">

        <title>Accordian</title>

    </head>
    <body class="">


		<div class="inner-padding">
			<div class="container">

                <div class="accordion accordion--skin-1" id="accordion">
				    <div class="card">
		                <a class="card-header collapsed" id="heading_Accordian_item_1" role="button" href="#Accordian_item_1" data-toggle="collapse" data-target="#Accordian_item_1" aria-expanded="false" aria-controls="Accordian_item_1">
		                    Accordian Heading 1
		                </a>
				        <div id="Accordian_item_1" class="collapse" aria-labelledby="heading_Accordian_item_1" data-parent="#accordion">
				            <div class="card-body">
				            	<p>
				            		Felis tiam non metus Placerat a ultricies a, posuere lorem ipseut lincas psuiem t volut pat phas ellus ac sodales Lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis eget metus auguen unc vel mauris ultricies, vest ibulum
				            	</p>
				            </div>
				        </div>
				    </div>
				    <div class="card">
		                <a class="card-header collapsed" id="heading_Accordian_item_2" class="" role="button" href="#Accordian_item_2" data-toggle="collapse" data-target="#Accordian_item_2" aria-expanded="false" aria-controls="Accordian_item_2">
		                    Accordian Heading 2
		                </a>
				        <div id="Accordian_item_2" class="collapse" aria-labelledby="heading_Accordian_item_2" data-parent="#accordion">
				            <div class="card-body">
				            	<p>
				            		Felis tiam non metus Placerat a ultricies a, posuere lorem ipseut lincas psuiem t volut pat phas ellus ac sodales Lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis eget metus auguen unc vel mauris ultricies, vest ibulum
				            	</p>
				            </div>
				        </div>
				    </div>
				    <div class="card">
		                <a class="card-header collapsed" id="heading_Accordian_item_3" class="" role="button" href="#Accordian_item_3" data-toggle="collapse" data-target="#Accordian_item_3" aria-expanded="false" aria-controls="Accordian_item_3">
		                    Accordian Heading 3
		                </a>
				        <div id="Accordian_item_3" class="collapse" aria-labelledby="heading_Accordian_item_3" data-parent="#accordion">
				            <div class="card-body">
				            	<p>
				            		Felis tiam non metus Placerat a ultricies a, posuere lorem ipseut lincas psuiem t volut pat phas ellus ac sodales Lorem ipsum dolor sit amet, consectetur adipisicing elit uasi quidem minus id omnis a nibh fusce mollis eget metus auguen unc vel mauris ultricies, vest ibulum
				            	</p>
				            </div>
				        </div>
				    </div>
				</div>

			</div>

		</div>


        <!-- JavaScript Files -->
        <script src="../assets/js/jquery-3.6.0.min.js"></script>
        <script src="../assets/plugins/bootstrap-4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="assets/plugins/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
        <script src="assets/js/z-custom.js"></script>
        
    </body>
</html>