<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="../dist/css/main.css">

        <title>Misc</title>

    </head>
    <body>


		<div class="inner-padding">

			<div class="container">
				<!-- Section Heading Starts -->
				<div class="section-heading">
					<h2 class="section-heading__name">Section Heading</h2>
					<p class="section-heading__text">Section Heading Text</p>
				</div>
				<!-- Section Heading Ends -->

				<hr class="my-5">

				<h3 class="title">Heading Title Normal</h3>
				<h3 class="title text-pallet-color-1">Heading Title color 1</h3>
				<h3 class="title text-pallet-color-2">Heading Title color 2</h3>
				<h3 class="title text-pallet-color-3">Heading Title color 3</h3>
				<h3 class="title text-pallet-color-4">Heading Title color 4</h3>
				<h3 class="title text-pallet-color-5">Heading Title color 5</h3>

				<hr class="my-5">
				<p>
					Normal Body Text
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p class="text-pallet-color-1">Text color 1</p>
				<p class="text-pallet-color-2">Text color 2</p>
				<p class="text-pallet-color-3">Text color 3</p>
				<p class="text-pallet-color-4">Text color 4</p>
				<p class="text-pallet-color-5">Text color 5</p>

				<hr class="my-5">


                <ul class="list-unstyled">
				    <li class="media">
				        <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
				        <div class="media-body">
				            Fruits
				        </div>
				    </li>
				    <li class="media">
				        <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
				        <div class="media-body">
				            Cheese Sandwich (Gluten Free Option Available)
				        </div>
				    </li>
				    <li class="media">
				        <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
				        <div class="media-body">
				            Fresh Orange Juice
				        </div>
				    </li>
				    <li class="media">
				        <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
				        <div class="media-body">
				            Crackers
				        </div>
				    </li>
				    <li class="media">
				        <span class="mr-3 flaticon-tick text-pallet-color-1"></span>
				        <div class="media-body">
				            Fruit Salad
				        </div>
				    </li>
				</ul>

				<hr class="my-5">

				<div class="row">
					<div class="col-xl-6">
						<div class="media home-features__item mb-xl-3">
							<span class="home-features__icon flaticon-tick bg-pallet-color-1"></span>
							<div class="media-body">
								<h6 class="home-features__name">Media item with Icon 1</h6>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="media home-features__item mb-xl-3">
							<span class="home-features__icon flaticon-tick bg-pallet-color-2"></span>
							<div class="media-body">
								<h6 class="home-features__name">Media item with Icon 2</h6>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="media home-features__item mb-xl-3">
							<span class="home-features__icon flaticon-tick bg-pallet-color-3"></span>
							<div class="media-body">
								<h6 class="home-features__name">Media item with Icon 3</h6>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="media home-features__item mb-xl-3">
							<span class="home-features__icon flaticon-tick bg-pallet-color-4"></span>
							<div class="media-body">
								<h6 class="home-features__name">Media item with Icon 4</h6>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="media home-features__item mb-xl-3">
							<span class="home-features__icon flaticon-tick bg-pallet-color-5"></span>
							<div class="media-body">
								<h6 class="home-features__name">Media item with Icon 5</h6>
							</div>
						</div>
					</div>
				</div>

				<hr class="my-5">

				<div class="row">
					<div class="col">
						<img src="../assets/img/data/about2.jpg" class="img-fluid d-block m-auto border-radius-effect shadow">
					</div>
					<div class="col">
						<img src="../assets/img/data/about2.jpg" class="img-fluid d-block m-auto rounded shadow">
					</div>
					<div class="col">
						<img src="../assets/img/data/about2.jpg" class="img-fluid d-block m-auto rounded shadow-lg">
					</div>
					<div class="col">
						<img src="../assets/img/data/about2.jpg" class="img-fluid d-block m-auto rounded">
					</div>
					<div class="col">
						<img src="../assets/img/data/about2.jpg" class="img-fluid d-block m-auto rounded-circle">
					</div>
					<div class="col">
						<img src="../assets/img/data/about2.jpg" class="img-fluid d-block m-auto rounded-pill">
					</div>
				</div>

				<hr class="my-5">

				<a href="#" class="btn btn-pallet-color-1 px-5 py-2 shadow-sm font-weight-bold">Button Style 1</a>
				<a href="#" class="btn btn-pallet-color-2 px-5 py-2 shadow-sm font-weight-bold">Button Style 2</a>
				<a href="#" class="btn btn-pallet-color-3 px-5 py-2 shadow-sm font-weight-bold">Button Style 3</a>
				<a href="#" class="btn btn-pallet-color-4 px-5 py-2 shadow-sm font-weight-bold">Button Style 4</a>
				<a href="#" class="btn btn-pallet-color-5 px-5 py-2 shadow-sm font-weight-bold">Button Style 5</a>

				<hr class="my-5">

				<div class="media home-contact__details-item">
					<span class="flaticon-phone-call home-contact__details-icon bg-pallet-color-5"></span>
					<div class="media-body">
						<h4 class="home-contact__details-name">Media Heading</h4>
						<div class="home-contact__details-info">
							<p>
								Media Content
							</p>
						</div>
					</div>
				</div>

				<hr class="my-5">
				

				<div class="form-group home-contact__form-group">
					<label class="home-contact__form-label">Form Label</label>
					<input type="text" class="form-control home-contact__form-control" name="" placeholder="Form Input Field">
				</div>


			</div>

		</div>
        
    </body>
</html>