<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="../dist/css/main.css">

        <title>Slider 1</title>

    </head>
    <body class="bg-dark">



		<!-- Hero Slider Starts -->
		<div class="slider-area p-4 mt-5">
			<div class="js-main-slider owl-carousel owl-theme">

				<!-- First Slide Starts -->
				<div class="hero-slide animation__style01">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- First Slide Ends -->

				<!-- Second Slide Starts -->
				<div class="hero-slide animation__style02">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Second Slide Ends -->

				<!-- Third Slide Starts -->
				<div class="hero-slide animation__style03">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Third Slide Ends -->

				<!-- Fourth Slide Starts -->
				<div class="hero-slide animation__style04">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fourth Slide Ends -->

				<!-- Fifth Slide Starts -->
				<div class="hero-slide animation__style05">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fifth Slide Ends -->

				<!-- Sixth Slide Starts -->
				<div class="hero-slide animation__style06">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Sixth Slide Ends -->

				<!-- Seventh Slide Starts -->
				<div class="hero-slide animation__style07">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Seventh Slide Ends -->

				<!-- Eighth Slide Starts -->
				<div class="hero-slide animation__style08">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Eighth Slide Ends -->

				<!-- Nineth Slide Starts -->
				<div class="hero-slide animation__style09">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Nineth Slide Ends -->

				<!-- Tenth Slide Starts -->
				<div class="hero-slide animation__style10">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="hero-slide__content">
									<h1 class="hero-slide__title text-uppercase">Best <span class="text-pallet-color-6">s</span><span class="text-pallet-color-2">c</span><span class="text-pallet-color-3">h</span><span class="text-pallet-color-4">o</span><span class="text-pallet-color-5">o</span><span class="text-pallet-color-1">l</span> for your children.</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.</p>
									<a class="btn btn-pallet-color-6 hero-slide__action px-xl-5 font-weight-bold" href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Tenth Slide Ends -->

			</div>
		</div>
		<!-- Hero Slider Ends -->


        <!-- JavaScript Files -->
        <script src="../assets/js/jquery-3.6.0.min.js"></script>
        <script src="../assets/plugins/bootstrap-4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/plugins/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
        <script src="../assets/js/z-custom.js"></script>
        
    </body>
</html>