<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="../dist/css/main.css">

        <title>Slider 1</title>

    </head>
    <body>

		<div class="inner-padding home-courses" id="courses">
			<div class="container">
				<!-- Courses Slider Starts -->
				<div class="owl-carousel owl-theme js-courses-slider home-courses__slider">
					<!-- Course item 1 Starts -->
					<div class="course-item">
						<div class="course-item__img img-wrapper">
							<img src="../assets/img/data/332-ted2710-chim.jpg" class="img-fluid">
						</div>
						<div class="course-item__details">
							<h4 class="course-item__name">Lorem ipsum dolor sit amet</h4>
							<p class="course-item__time">8:00 AM - 10:00 AM</p>
							<p class="course-item__info">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
						<div class="course-item__more row no-gutters">
							<div class="col course-item__more-col">
								Capacity
								<span class="d-block font-weight-bold text-pallet-color-6">45-30 Kids</span>
							</div>
							<div class="col course-item__more-col">
								Age
								<span class="d-block font-weight-bold text-pallet-color-6">07-10 Years</span>
							</div>
						</div>
						<div class="course-item__cost">$150</div>
					</div>
					<!-- Course item 1 Ends -->

					<!-- Course item 2 Starts -->
					<div class="course-item">
						<div class="course-item__img img-wrapper">
							<img src="../assets/img/data/pexels-photo-3662667.jpeg" class="img-fluid">
						</div>
						<div class="course-item__details">
							<h4 class="course-item__name">Lorem ipsum dolor sit amet</h4>
							<p class="course-item__time">8:00 AM - 10:00 AM</p>
							<p class="course-item__info">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
						<div class="course-item__more row no-gutters">
							<div class="col course-item__more-col">
								Capacity
								<span class="d-block font-weight-bold text-pallet-color-6">45-30 Kids</span>
							</div>
							<div class="col course-item__more-col">
								Age
								<span class="d-block font-weight-bold text-pallet-color-6">07-10 Years</span>
							</div>
						</div>
						<div class="course-item__cost">$150</div>
					</div>
					<!-- Course item 2 Ends -->

					<!-- Course item 3 Starts -->
					<div class="course-item">
						<div class="course-item__img img-wrapper">
							<img src="../assets/img/data/pexels-pixabay-159823.jpg" class="img-fluid">
						</div>
						<div class="course-item__details">
							<h4 class="course-item__name">Lorem ipsum dolor sit amet</h4>
							<p class="course-item__time">8:00 AM - 10:00 AM</p>
							<p class="course-item__info">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
						<div class="course-item__more row no-gutters">
							<div class="col course-item__more-col">
								Capacity
								<span class="d-block font-weight-bold text-pallet-color-6">45-30 Kids</span>
							</div>
							<div class="col course-item__more-col">
								Age
								<span class="d-block font-weight-bold text-pallet-color-6">07-10 Years</span>
							</div>
						</div>
						<div class="course-item__cost">$150</div>
					</div>
					<!-- Course item 3 Ends -->

					<!-- Course item 4 Starts -->
					<div class="course-item">
						<div class="course-item__img img-wrapper">
							<img src="../assets/img/data/about2.jpg" class="img-fluid">
						</div>
						<div class="course-item__details">
							<h4 class="course-item__name">Lorem ipsum dolor sit amet</h4>
							<p class="course-item__time">8:00 AM - 10:00 AM</p>
							<p class="course-item__info">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
						<div class="course-item__more row no-gutters">
							<div class="col course-item__more-col">
								Capacity
								<span class="d-block font-weight-bold text-pallet-color-6">45-30 Kids</span>
							</div>
							<div class="col course-item__more-col">
								Age
								<span class="d-block font-weight-bold text-pallet-color-6">07-10 Years</span>
							</div>
						</div>
						<div class="course-item__cost">$150</div>
					</div>
					<!-- Course item 4 Ends -->
				</div>
				<!-- Courses Slider Ends -->

			</div>
		</div>


        <!-- JavaScript Files -->
        <script src="../assets/js/jquery-3.6.0.min.js"></script>
        <script src="../assets/plugins/bootstrap-4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/plugins/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
        <script src="../assets/js/z-custom.js"></script>
        
    </body>
</html>