<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="../dist/css/main.css">

        <title>Tabs</title>

    </head>
    <body class=" bg-dark">


		<div class="inner-padding home-about" id="aboutus">
			<div class="container">


				<div class="nav nav-justified modern-tabs js-home-tabs home-about__tabs" role="tablist">
                    <a class="nav-link modern-tabs__link bg-pallet-color-1 active" data-toggle="tab" href="#Link_1" role="tab" aria-selected="true">
						Link 1
                    </a>
                    <a class="nav-link modern-tabs__link bg-pallet-color-2" data-toggle="tab" href="#Link_2" role="tab" aria-selected="false">
						Link 2
                    </a>
                    <a class="nav-link modern-tabs__link bg-pallet-color-3" data-toggle="tab" href="#Link_3" role="tab" aria-selected="false">
						Link 3
                    </a>
                    <a class="nav-link modern-tabs__link bg-pallet-color-6" data-toggle="tab" href="#Link_4" role="tab" aria-selected="false">
						Link 4
                    </a>
                </div>

                <!-- Tab panes -->
                <div class="tab-content bg-white modern-tabs__content">
                    <div class="tab-pane p-lg-5 p-4 active" id="Link_1" role="tabpanel">
                        <h3 class="title">Heading for Tab 1</h3>
                        <p>Text content for Tab 1</p>
                    </div>
                    <div class="tab-pane p-lg-5 p-4" id="Link_2" role="tabpanel">
                        <h3 class="title">Heading for Tab 2</h3>
                        <p>Text content for Tab 2</p>
                    </div>
                    <div class="tab-pane p-lg-5 p-4" id="Link_3" role="tabpanel">
                        <h3 class="title">Heading for Tab 3</h3>
                        <p>Text content for Tab 3</p>
                    </div>
                    <div class="tab-pane p-lg-5 p-4" id="Link_4" role="tabpanel">
                        <h3 class="title">Heading for Tab 4</h3>
                        <p>Text content for Tab 4</p>
                    </div>
                </div>


			</div>

		</div>


        <!-- JavaScript Files -->
        <script src="../assets/js/jquery-3.6.0.min.js"></script>
        <script src="../assets/plugins/bootstrap-4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="assets/plugins/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
        <script src="assets/js/z-custom.js"></script>
        
    </body>
</html>